p{
	font-family:Segoe UI;
	margin:15px;
	font-size:20px;
	display: none;
}

.header{
	font-size:40px;
}

body{
	margin-top:50px;
	margin-right: 6px;
	background-color: black;
	color: black;
	font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP","sans-serif";
}

a {
	font-family:Segoe UI;
	margin:15px;
	margin-bottom: 30px;
	font-size:20px;
	display: block;
	color: #666;
}

.slide {
	display: none;
}

a:hover {
	text-decoration: none;
	color: black;
}

.project {
	display: none;
	cursor: pointer;
	background-size: cover;
	height: 160px;
	width: 160px;
	position: absolute;
	right: 20px;
	margin-right: 20px;
	opacity: 0.6;
}

.project-name {
	background-color: rgba(22, 22, 22, 0.5);
	vertical-align: middle;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 4px 0;
	position: absolute;
	width: 160px;
	margin-top: 127px;
	height: 25px;
	overflow: hidden;
}

.project-info {
	position: absolute;
	background: rgba(22, 22, 22, 0.5);
	color: #fff;
	z-index: 100;
	width: 132px;
	height: 99px;
	padding: 14px 14px;
	line-height: 15px;
	text-align: center;
	display: none;
}

.obstaclr {
	background-image: url('../img/obstaclr.png');
	bottom: 20px;
}

.spot {
	background-image: url('../img/spot.png');
	bottom: 200px;
}

.icebreaker {
	background-image: url('../img/icebreaker.jpg');
	bottom: 380px;
}

#background {
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	margin-top: -50px;
	z-index: -1;
}

#skip {
	display: block;
	position: absolute;
	bottom: 10px;
	cursor: pointer;
}
